{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load ratings %}
{% block title %} محصولات{% endblock %}
{% load render_partial %}
{% block content %}

<!-- breadcrumb end -->
<!-- product start -->
<!-- product end -->
<!-- product start -->
<div class="pa-product">
    <div class="container">
        <div class="pa-heading">
            </br>
        </div>
        <div class="row">
            {% for product in products %}
            {% include 'eshop_products/products_item_component.html' with product=product %}
            {% endfor %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                {% endif %}
                {% for page in paginator.page_range %}
                {% if page == page_obj.number %}
                <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                {% else %}
                <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!-- product end -->
{% endblock %}