{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block title %} ثبت نام{% endblock %}
{% block content %}

 <!-- breadcrumb-area start -->
<br>
        <!-- breadcrumb-area end -->



        <!-- main-content-wrap start -->
<div class="main-content-wrap section-ptb lagin-and-register-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                <!-- login-register-tab-list start -->
                    <div class="login-register-tab-list nav">
                        <a href='/login'>
                            <h1 class="pa-login-title">ورود</h1>
                        </a>
                        <h1 class="pa-login-title"> - </h1>
                        <a href='/register'>
                            <h1 class="pa-login-title">ثبت نام</h1>
                        </a>
                    </div>
                            <!-- login-register-tab-list end -->
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form method="post">
                                        <div class="login-input-box">
                                            {% csrf_token %}
                                            {% comment %} {{register_form}} {% endcomment %}
                                            <label for="{{register_form.email.id_for_label}}"> {{register_form.email.label}} </label>
                                            {{register_form.email}}
                                            {%for error in register_form.email.errors%}
                                                <p style = "color : red;">{{error}}</p>
                                            {% endfor %}
                                            <label for="{{register_form.full_name.id_for_label}}"> {{register_form.full_name.label}} </label>
                                            {{register_form.full_name}}
                                            {%for error in register_form.full_name.errors%}
                                                <p style = "color : red;">{{error}}</p>
                                            {% endfor %}
                                            <label for="{{register_form.phone.id_for_label}}"> {{register_form.phone.label}} </label>
                                            {{register_form.phone}}
                                            {%for error in register_form.phone.errors%}
                                                <p style = "color : red;">{{error}}</p>
                                            {% endfor %}
                                            <label for="{{register_form.password.id_for_label}}"> {{register_form.password.label}} </label>
                                            {{register_form.password}}
                                            {%for error in register_form.password.errors%}
                                                <p style = "coloe : red;">{{error}}</p>
                                            {% endfor %}
                                            
                                        </div>
                                        <div class="button-box">
                                         
                                         <br>
                                            <div class="button-box">
                                                  <button class="pa-btn"  type="submit"><span>ثبت نام</span></button>
                                            </div>
                                            <br>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-content-wrap end -->
  
{% endblock content %}