{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block title %} کد تایید{% endblock %}
{% block content %}

 <!-- breadcrumb-area start -->
<br>
        <!-- breadcrumb-area end -->



        <!-- main-content-wrap start -->
<div class="main-content-wrap section-ptb lagin-and-register-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                <!-- login-register-tab-list start -->
                    <div class="login-register-tab-list nav">
                        <a href='/login'>
                            <h1 class="pa-login-title">ورود</h1>
                        </a>
                        <h1 class="pa-login-title"> - </h1>
                        <a href='/register'>
                            <h1 class="pa-login-title">ثبت نام</h1>
                        </a>
                    </div>
                            <!-- login-register-tab-list end -->
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <input type="submit" value="ارسال">
                                        <br>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-content-wrap end -->
  
{% endblock content %}